<html>

<head>
  <title>Passport Demo</title>

  <%- include('style') %>
</head>

<body>
  <%- include('nav') %>
  <div class="container">
    <br />
    <h1>Gluu</h1>
    <h3>Gluu OpenID Connect authentication</h3>
  </div>
</body>

</html>